.form-page {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 70%;
    min-width: 320px;
    margin: auto;

    header {
        position: relative;
        margin-bottom: 50px;

        img {
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            
        }
    }

    form {
        width: 100%;
        max-width: 450px;
        margin: auto;
        background: #fff;
        padding: 50px;
        border-radius: 40px;

        .form-header {
            text-align: center;
        }

        .input-group {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .input-container {
            margin-top: 30px;
            position: relative;

            
            label {
                position: absolute;
                left: 15px;
                top: 25px;
                transform: translateY(-50%);
                font-size: 15px;
                transition: all 0.2s ease;
                background: transparent;
                padding: 3px 8px;
                border-radius: 8px;
                transform-origin: 0% 50%;
                pointer-events: none;
                color: $input-placeholder;
            }

            input {
                background-color: $input-bg;
                border: 2px solid transparent;
                padding: 0px 15px;
                height: 50px;
                display: block;
                width: 100%;

                &:valid {
                    border-color: $input-placeholder;

                    + label {
                        top: -2.5px;
                        scale: 0.8;
                        background-color: $input-placeholder;
                        color: #fff;
                    }

                    ~ .eye-icon {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                &:focus {
                    border-color: #000;

                    + label {
                        top: -2.5px;
                        scale: 0.8;
                        background-color: $application-color;
                        color: #fff;
                    }
                }

                
            }

            p.error-msg {
                color: $danger-color;
                margin: 5px 0px;
                display: inline-flex;
                align-items: center;
                position: absolute;
                z-index: 3;
                border-radius: 10px;
                top: 100%;
                line-height: 90%;
                font-size: 13px;
                width: 100%;
                min-width: 200px;
                font-weight: 600;


                &::selection {
                    background-color: $danger-color;
                    color: #fff;
                }
            }

            .eye-icon {
                position: absolute;
                top: 25px;
                right: 15px;
                transform: translateY(-40%);
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s ease;
            }
        }

        button.form-btn {
            margin-top: 40px;
            width: 100%;
            height: 50px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &.primary {
                background: $application-color;
                color: #fff;   
            }
            
            .lds-dual-ring {
                width: 0px;
                opacity: 0;
                transition: width 0.2s ease, opacity 0.2s ease;
            }
            

            &.submitting {
                background-color: rgba(0, 0, 0, 0.395);
                pointer-events: none;

                .lds-dual-ring {
                    width: 30px;
                    opacity: 1;
                }
            }
            

        }

        .logging-err {
            font-size: 13px;
            color: $danger-color;
            margin-top: 10px;
            font-weight: 600;
            
            &::selection {
                background-color: $danger-color;
                color: #fff;
            }
        }
        
        .tip {
            margin-top: 40px;
            text-align: center;
            color: $input-placeholder;

            a {
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .form-page {
        width: 90%;

        form {
            padding: 40px !important;

            .input-group {
                flex-direction: column;
                gap: 0px !important;
            }
        }


    }

}