@import '../helpers/variables';

main#new-feed-page {
    display:grid;
    grid-template-columns: 1fr 750px 1fr;
    gap: 30px;

    #left-panel {
        padding: 0px 20px;
    }
    
    #posts-feed {
        width: 100%;
        margin: auto;
    }
    
    #right-panel {
        padding: 0px 20px;
    }
}